.note-editor-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-size: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  align-items: center;
}

.note-editor-title,
.note-editor-body,
.note-editor-date {
  font-size: 1rem;
  display: block;
  appearance: none;
  border: none;
  padding: 0 25px;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #555;
  color: #fafafa;
}

.note-editor-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.note-editor-body {
  width: 100%;
  padding-top: 25px;
  font-family: "Inconsolata", monospace;
}

.note-editor-body:focus,
.note-editor-body textarea:focus {
  background-color: #444 !important;
  outline: none;
}

.note-editor-title:focus {
  background-color: #444;
  outline: none;
  color: #fafafa;
}

.note-editor-date {
  width: 100%;
}
